.telemed-page {
  position: fixed;
  /* background-color: pink; */
  width: calc(100vw - 32.5vw);
  height: auto;
  height: 92vh;
  margin: 6vh 0vw;
  margin-left: calc(0% + 11vw);
  margin-right: calc(0% + 18vw);
  overflow-y: auto;
}

.telemed-appointments {
  display: flex;
  flex-direction: column;
  background-color: rgba(138, 138, 138, 0.2);
  padding: 20px;
  border-radius: 20px;
  margin: 4vh 1vw;
}

.request-forms h4 {
  text-align: center;
  margin-top: 1vh;
}
