.adminProfile {
  position: fixed;
  margin: 6vh 2vw 2vw 26vh;
  /* background-color: pink; */
  width: 86vw;
  height: 92vh;
  overflow-y: auto;
  max-height: fit-content;
  color: black;
}

.adminProfile::-webkit-scrollbar {
  display: none;
}
.chart-name {
  text-align: center;
  margin: 2vh 2vw;
}
.back-to-admin {
  display: flex;
  width: 10vw;
  background-color: #003163;
  padding: 5px 15px;
  border-radius: 24px;
  cursor: pointer;
  border: 1px #003163 solid;
  margin-top: 2vh;
}

.back-to-admin:hover {
  background-color: #8a8a8a;
  border: 1px #003163 solid;
}
.back-to-admin-btn {
  color: white;
  font-size: 16px;
  padding: 2px 5px;
}
.back-to-admin-btn-link {
  text-decoration: none; /* Removes the default underline of a link */
}

.admin-button {
  display: flex;
  justify-content: space-between;
  margin: 4vh 1vw 1vh 0.2vw;
  width: 35vw;
}

.health-record-modal {
  margin-top: 20vh;
}
.health-record-modal-content {
  text-align: center;
}

.health-record-password-input {
  width: 80%;
  padding: 8px;
  margin: 10px 0;
}

.health-record-modal-buttons {
  display: flex;
  justify-content: space-around;
}

.close-btn,
.submit-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-btn {
  background-color: #ff6666;
  color: white;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
}

.dept {
  display: flex;
  justify-content: space-between;
  margin: 1vh 1vw;
  width: 28vw;
}

.dept {
  margin-top: 6vh;
}

.buttons {
  display: flex;
}
.admin-search {
  /* background-color: azure; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
  margin-top: 4.5vh;
}

.admin-search-input {
  width: 500px;
  padding: 2px;
  border: 2px solid #8a8a8a;
  border-radius: 6px;
  outline: none;
  margin-right: 10px;
}

.button-jhs,
.button-shs,
.button-college {
  background-color: #fafafa;
  border: 1px solid #8a8a8a;
  color: #8a8a8a;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 0px 40px 4px 0px;
  cursor: pointer;
  border-radius: 12px;
}

.button-jhs:hover,
.button-shs:hover,
.button-college:hover,
.create-account-btn .save-btn:hover,
.create-account-btn .close-btn:hover {
  background-color: #c0c2c2;
  border: 1px solid #003163;
  color: #003163;
}

.active-button,
.active-button:hover {
  background-color: #003163;
  border: 1px white solid;
  color: white;
}

.button-create,
.button-manage,
.button-bmi,
.edit-profile,
.health-record-btn {
  background-color: #003163;
  border: 1px white solid;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px 20px 55px;
  cursor: pointer;
  border-radius: 12px;
}

.button-create:hover,
.button-manage:hover,
.button-bmi:hover,
.edit-profile:hover,
.health-record-btn:hover {
  background-color: white;
  border: 1px solid #003163;
  color: #003163;
}

.edit-profile {
  background-color: #00ab66;
  margin-left: 2.5vw;
}

.button-bmi {
  margin-right: 2.5vw;
}
.profile-btn {
  display: flex;
  justify-content: space-between;
  margin: 2vh 9vw;
}

.name-list {
  margin: 1vw 2vh;
  /* background-color: pink; */
  list-style-type: decimal;
}

.name-list ul {
  cursor: pointer;
  list-style-type: decimal;
  margin-left: 1.5vw;
}

.student-name:hover {
  color: #8a8a8a;
}

.section {
  display: flex;
}
.student-data {
  /* background-color: beige; */
  margin-top: 2vh;
}

.student-data-i h3 {
  text-align: center;
  color: #003163;
}

.student-info h3 {
  text-align: center;
  margin-top: 1vh;
}

.selected-section-header:hover {
  cursor: pointer;
  color: #8a8a8a;
}

.student-header {
  display: flex;
  justify-content: space-between;
}

.bmi-form {
  display: flex;
  flex-direction: column;
}

.modal-content h3 {
  text-align: center;
}
.bmi-form label {
  margin: 0;
}

.bmi-form input {
  width: calc(100% - 20px);
}

.scan-bmi-btn {
  display: flex;
  justify-content: space-around;
  margin: 2vh 0vw 1vh 0vw;
}
.scan-bmi-btn .save-btn {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #00ab66;
  border: 1px white solid;
  color: white;
}

.scan-bmi-btn .close-btn {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #808080;
  color: white;
  border: 1px solid #ddd; /* Border for close button */
}
.archive-student-pic .jen {
  position: relative;
  top: 0;
  right: 0;
  height: 150px;
  width: 150px;
}

.archive-student-pic {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.student-info {
  display: flex;
  flex-direction: column;
  /* background-color: pink; */
  margin: 1vw 2vh;
  column-gap: 20px;
}
.column-one,
.column-two,
.column-three,
.column-four,
.column-five {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.student-data-i,
.student-data-ii,
.student-data-iii,
.student-data-iv,
.student-data-v1,
.student-data-v2,
.student-data-v3,
.student-data-vii,
.student-data-viii,
.student-data-ix {
  background-color: rgba(138, 138, 138, 0.2);
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  min-width: 480px;
}
.student-data-vii,
.student-data-viii,
.student-data-ix {
  background-color: #c0c2c2;
}

.add-assessment-btn,
.add-vaccine-btn {
  background-color: #003163;
  width: 70px;
  padding: 2px 20px;
  border-radius: 10px;
  border: 2px solid #003163;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.add-assessment:hover,
.add-vaccine-btn:hover {
  background-color: white;
  border: 2px solid #003163;
  color: #003163;
}
/* Styling for all dropdown select elements */
select {
  color: black;
  background-color: #c0c2c2;
  border: 2px solid #8a8a8a;
  padding: 2px;
  border-radius: 8px;
  margin: 1vh 1vw;
  font-size: 14px;
  cursor: pointer;
}

select:focus {
  outline: none; /* Remove default focus outline */
  border-color: #003163; /* Change border color when focused */
  box-shadow: 0 0 5px rgba(0, 49, 99, 0.5); /* Add shadow on focus */
}

select option {
  color: black; /* Text color of options */
  background-color: white; /* Background color of options */
}

.create-account-modal {
  background-color: #f8f8ff;
  color: white;
  padding: 20px;
  border-radius: 24px;
  height: 80vh;
  width: 30vw;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  position: relative; /* For proper alignment */
  margin: auto;
  top: 50%; /* Center the modal vertically */
  transform: translateY(-50%); /* Adjust vertical alignment */
}

.form input[type="text"] {
  width: calc(100% - 20px); /* Full width minus padding */
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.form label {
  margin-right: 10px;
  color: gray;
  font-size: 15px;
}
.create-account-btn,
.edit-account-btn,
.vaccine-btn {
  display: flex; /* Align buttons horizontally */
  justify-content: flex-end;
  gap: 20px; /* Space between buttons */
  margin-top: 20px; /* Margin above the buttons */
}

.create-account-btn .save-btn,
.edit-account-btn .save-btn,
.vaccine-btn .save-vaccine-btn,
.vaccine-btn .edit-vaccine-btn {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #00ab66;
  border: 1px white solid;
  color: white;
}

.create-account-btn .close-btn,
.edit-account-btn .close-btn,
.vaccine-btn .close-btn {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #808080;
  color: white;
  border: 1px solid #ddd; /* Border for close button */
}
.create-account-modal h3 {
  text-align: center;
  color: #003163;
}

.scan-bmi-modal {
  background-color: #f8f8ff;
  color: black;
  padding: 20px;
  border-radius: 24px;
  height: fit-content;
  /* max-height: 100%; */
  width: 400vw;
  max-width: 95%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* For proper alignment */
  margin: auto;
  top: 40%; /* Center the modal vertically */
  transform: translateY(-50%);
  overflow-y: hidden;
}
body.no-scroll {
  overflow: hidden; /* Hides scrollbar when modal is open */
}

.edit-profile-modal h3 {
  text-align: center;
}
.edit-profile-modal {
  background-color: #f8f8ff;
  color: black;
  padding: 20px;
  border-radius: 24px;
  height: fit-content;
  /* max-height: 100%; */
  width: 400vw;
  max-width: 95%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* For proper alignment */
  margin: auto;
  top: 40%; /* Center the modal vertically */
  transform: translateY(-50%);
  overflow-y: hidden;
}

.edit-profile-modal input[type="text"] {
  width: calc(100% - 20px); /* Full width minus padding */
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.edit-profile-modal label {
  margin-right: 10px;
}

.edit-profile-modal input[type="radio"] {
  accent-color: #007bff; /* Changes the color of the radio button */
  width: 15px;
  height: 15px;
  margin-left: 0.2vw;
  margin-top: 1vh;
}

.x-ray {
  display: flex;
}
.xray-upload-btn {
  background-color: #003163;
  border: 1px white solid;
  color: white;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 12px;
}

.xray-upload-btn:hover {
  background-color: white;
  border: 1px solid #003163;
  color: #003163;
}

/* Modal overlay styles */
.modal-overlay {
  position: fixed; /* Overlay covers the whole screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(138, 138, 138, 0.2);
  display: flex; /* Flex to center the modal */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Ensure overlay is above other content */
}

.table-style {
  width: 100%;
  border-collapse: collapse; /* Combine border into a single line */
}

/* Style table header */
.table-style th {
  border-bottom: 1px solid #ddd; /* Add border bottom for each header cell */
  padding: 8px;
  text-align: left;
}

/* Style table rows */
.table-style td {
  border-bottom: 1px solid #ddd; /* Add border bottom for each data cell */
  padding: 8px;
}

/* Style the last row of the table without bottom border */
.table-style tr:last-child td {
  border-bottom: none; /* Remove bottom border for the last row */
}

.edit-assessment-btn,
.save-assessment-btn {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #00ab66;
  border: 1px white solid;
  color: white;
}

.assessment-modal,
.vaccine-modal {
  display: flex;
  flex-direction: column;
}

.assessment-modal h3,
.vaccine-modal h3 {
  text-align: center;
}

.title-charts {
  display: flex;
  justify-content: space-between;
  margin: 4vh 12vw 1vh 8vw;
}
.title-charts h3 {
  text-align: center;
}
.health-stat-title {
  margin-right: 4vw;
}
