.chart-stat {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.charts {
  display: flex;
  flex-direction: row; /* Arrange children horizontally */
  flex: 1; /* Ensure it takes up available space */
}

.bar-chart,
.pie-chart,
.insight {
  flex: 1; /* Each section takes an equal amount of space */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

.insight h1 {
  text-align: center;
}

.bar-chart {
  display: flex;
  flex-direction: column;
}
