.admin-inventory,
.edit-stock {
  position: fixed;
  margin: 8vh 2vw 2vw 26vh;
  /* background-color: pink; */
  width: 86vw;
  height: 90vh;
  overflow-y: auto;
  max-height: fit-content;
}

.admin-inventory::-webkit-scrollbar,
.edit-stock::-webkit-scrollbar {
  display: none;
}

.inventory-status {
  width: 100%;
  height: fit-content;
  background-color: #c0c2c2;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.inventory-management,
.edit-stock-table {
  margin-top: 2vh;
  background-color: #c0c2c2;
  border-radius: 20px;
  padding: 10px;
}

.back {
  display: flex;
  margin-bottom: 10px;
}

.back-button {
  background-color: #003163;
  width: fit-content;
  padding: 4px 20px 0px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.back-button:hover {
  background-color: #c0c2c2;
  border: none;
  color: #003163;
}

h2 {
  text-align: center;
  margin-bottom: 2vh;
}
.status-label {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.stock-search {
  /* background-color: azure; */
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 2vh 0vw;
}

.stock-search-input {
  width: 600px;
  padding: 2px;
  margin-right: 0.5vw;
  border: 2px solid #8a8a8a;
  border-radius: 6px;
  outline: none;
}

/* Basic table styling */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #c0c2c2; /* Set table background color */
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Column hover styles */
.row-hover {
  background-color: #d0d2d2; /* Lightened color on hover */
}

.edit-stock-btn {
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #003163;
  border: 1px white solid;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  color: white;
}

.edit-stock-btn:hover {
  background-color: white;
  border: 1px solid #003163;
  color: #003163;
}

.stock-btn {
  display: flex; /* Align buttons horizontally */
  justify-content: flex-end;
  gap: 20px; /* Space between buttons */
  margin-top: 20px; /* Margin above the buttons */
}

.stock-modal input {
  margin-left: 10px;
}

.stock-btn .remove-stock-btn {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #d22b2b;
  border: 1px white solid;
  color: white;
}

.stock-btn .close-btn:hover,
.stock-btn .remove-stock-btn:hover {
  background-color: #c0c2c2;
  border: 1px white solid;
  color: #003163;
}
.stock-btn .close-btn {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #808080;
  color: white;
  border: 1px solid #ddd; /* Border for close button */
}

.stock-modal h3,
.stock-modal p {
  text-align: center;
  margin: 4px;
}

.tooltip-trigger {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.save-edit-stock-btn {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #00ab66;
  border: 1px white solid;
  color: white;
}
.save-edit-stock-btn:hover {
  background-color: white;
  border: 1px #003163 solid;
  color: #003163;
}
.save-stock {
  display: flex;
  justify-content: end;
  margin: 2vh 3vw;
}

@media (max-width: 1680px) {
  .edit-stock,
  .admin-inventory {
    margin: 6vh 2vw 2vw 20vh;
  }
}

@media (max-width: 1000px) {
  .edit-stock,
  .admin-inventory {
    margin: 6vh 2vw 2vw 11vh;
  }
}
