.request-form-page {
  position: fixed;
  /* background-color: pink; */
  width: calc(100vw - 32.5vw);
  height: auto;
  height: 90vh;
  margin: 6vh 0vw;
  margin-left: calc(0% + 11vw);
  margin-right: calc(0% + 18vw);
  overflow-y: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(138, 138, 138, 0.2);
  padding: 30px;
  border-radius: 20px;
  margin: 3vh;
}

.form-warning {
  color: red;
  text-align: center;
  margin: 1vh;
}
.form-button {
  display: flex;
  justify-content: end;
}

.request-form h3 {
  font-size: 16px;
  font-weight: 400;
  margin-right: 1vw;
}
.form-title {
  color: #003163;
  font-size: 20px;
  font-weight: 600;
}
.request-form-btn {
  background-color: #003163;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
  width: 10vw;
  margin-top: 2vh;
}
.request-form-btn:hover {
  background-color: white;
  color: #003163;
  border: 1px solid #003163;
}

.sent-requests {
  display: flex;
  margin: 1vh 2vw;
}

.sent-request-btn {
  background-color: #429d1c;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
  width: fit-content;
}
.sent-request-btn:hover {
  background-color: white;
  color: #003163;
  border: 1px solid #003163;
}

.sent-requests-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.sent-requests-btn:hover {
  background-color: #45a049;
}

.sent-requests-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.sent-requests-table th,
.sent-requests-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.sent-requests-table th {
  background-color: #f2f2f2;
}

.cancel-btn,
.reschedule-btn {
  color: white;
  padding: 2px 10px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px white solid;
}
.cancel-btn {
  background-color: red;
}

.reschedule-btn {
  background-color: #2a9df4;
}

.reschedule-btn:hover,
.cancel-btn:hover {
  background-color: white;
  color: #003163;
  border: 1px solid #003163;
}

.modal-actions {
  margin-top: 20px;
  text-align: right;
}

.close-modal-btn {
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
  width: 6vw;
  margin: 0.5vw;
}

.close-modal-btn:hover {
  background-color: #c0c2c2;
  border: 1px solid #003163;
  color: #003163;
}

.request-actions {
  display: flex;
  justify-content: space-around;
}

.sent-requests-table th,
.sent-requests-table .status-column {
  text-align: center;
}

button:disabled {
  background-color: #e0e0e0;
  color: #999;
  border: 1px solid gray;
  cursor: not-allowed;
}

.cancel-btn:disabled,
.reschedule-btn:disabled {
  border: 1px solid gray;
  opacity: 0.6;
}

.cancel-modal p {
  text-align: center;
}

.form-cancel-modal-actions {
  display: flex;
  justify-content: center;
}
